{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h3> Faça login para continuar. </h3>
{% endblock header %}

{% block content %}

    {% if form.errors %}
        <p> Login ou senha estão incorretos. Por favor, tente novamente3 </p>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %} 
            <button name="submit" class="btn btn-primary"> Entrar </button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'index' %}"/>
    </form>

{% endblock content %}